#table {
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

input {
    margin-bottom: 3vh;
    height: 30px;
    width: 30%;
}
table {
    width: 100%;
    background-color:burlywood;
}
table th, td{
    width: 33%;
}

table, th, td, tr {
    border: 1px solid white;    
}
#buttons{
    margin-top: 20px;
}
 button{
    background-color: burlywood;
    height: 30px;
    color: white;
}