* {
  box-sizing: border-box;
}
 body {
 margin: auto;
} 
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background-color:  #313236;
  font-size: 30px;
  font-family: cursive;
}
.header a {
  text-decoration: none;
  color: #969547;
  margin-right: 20px;
  font-size: 32px;
  transition: 0.5s;
  text-shadow: 2px 4px 4px black;
}
.header a:hover {
  cursor: pointer;
  color: #e6e154;
}
.logo > h1 {
  float: right;
  font-size: 24px;
  color: white;
  text-shadow: 4px 2px 1px black;
}
.logo > img {
  border-radius: 50%;
}
.navbar {
  background-image: url(../images/navbar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: inherit;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 20px;
  position: sticky;
  top: 0;
  font-size: 32px;
}
.menu {
  padding-right: 40px;
}
.menu a {
  margin-left: 32px;
  text-decoration: none;
  color: #969547;
  transition: 0.5s;
  transform: 1s;
  text-shadow: 2px 3px 4px #969547;
}
.menu a:hover {
  color: #e6e154;
  font-size: 30px;
}

.search {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.search input {
  width: 80%;
  height: 40px;
  border: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
}
input[type="search"]:focus {
  outline: none;
  box-shadow: 0 0 0 1px #e6e154;
}
.btn {
  border-radius: 4px;
  width: 20%;
  background-color: #969547;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.main-slider {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px;
  background-image: url(../images/blackboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider {
  width: 600px;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  width: 500%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 700px;
  height: 500px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

.text {
  color: white;
  width: 400px;
  display: flex;
  text-align: center;
  font-size: 24px;
}

.content{
  background-color:	#333;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.books{
  color: #969547;
  margin-top: 20px;
  margin-left: 20px;
  width: 210px;
  height: 300px;
  line-height: 25px;
  text-align: center;
  border: 2px solid #969547;
  background-color:inherit;
}

 .books:hover{
    /* border: 1px solid white; */
    border: 2px solid #e6e154;
    background-color: #2b2b2a;
    transition: 200ms;
 } 
.books>article{
  background-image: url(../images/navbar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;  
  font-size: 16px;
}

.books>button{
  background-color:#969547; 
  border: none;
  color: white;
  margin-top: 30px;
  padding: 4px 38px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.books>span{
  font-size: 16px;
  color: white;
}
.books button:hover{
background-color: inherit;
border: 1px solid #969547;
color: #969547;
}
footer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
  background-color: #111110;
}
.map{
  /* width: 50%; */
  /* height: 400px; */

  margin-top: 36px;
  
}
.foot{
  /* height: 400px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.workHours{
padding: 50px;
color: white;
font-size: 24px;
}
.contact{
  font-size: 24px;
  color: white;
}
hr{
 border-color: #e6e154;
}
.news{
  background-color: 	#333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
}
.newsImg{
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.newsText{
  background-color: #2b2b2a;
  color: #969547;
  width: 550px;
  font-size: 20px;
  padding: 20px;
}
h2{
 
  text-align: left;
  background-color:#2b2b2a ;
  margin: auto;
  padding:10px 100px;
  color: white;
  font-size:32px;
}
.fix{
  top: 30%;
  width: 50px;
  
  /* border: 1px solid black; */
  position: fixed;
  font-family: 'Stint Ultra Condensed', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/navbar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.workHours th{
  float: left;
}

@media (max-width: 412px) {
  .logo h1{
    font-size: 0.7em;
  }
  .search input {
    width: 100px;
  }
  .btn {
    width: 100px;
  }
  h2 {
    font-size: 16px ;
  }
  .newsText {
    width: 320px;
    padding: 15px;
  }
  /* #gmap_canvas {
    width: 320px;
  } */
  .fix {
    top: 40%;
    width: 25px;
  }
  .navbar a{
    font-size: 25px;
  }
  .navbar {
    position: static;
  }
  .map {
    transform: scale(0.9)
  }
}
/* @media (max-width:780px){
  .btn {
    width: 100px;
  }
  .search input {
    width: 200px;
  }
  .navbar a{
    font-size: 15px;
  }
} */
@media (max-width:1080px){
  .btn {
    width: 100px;
  }
  .search input {
    width: 200px;
  }
  .navbar a{
    font-size: 25px;
  }
  .fix {
    top: 40%;
    width: 30px;
  }
  .newsText {
    width: 420px;
    padding: 15px;
  }
}